html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-image: url(img/coding-background-ymmnuu6nqsmj3a4o.jpg);
    background-size: cover;
}

header {
    padding: 2%;
    font-size: 2.3em;
    color: whitesmoke;
}

header p {
    text-decoration: double;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 3rem;
    margin-top: 3%;
    background-color: rgba(128, 128, 128, .5);
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    border: solid white .6px;
}

h2 {
    font-size: 3em;
    white-space: nowrap;
    color: white;
    opacity: 0.8;
    margin-left: -6%;
}

.labs {
    background-color: lightgray;
    text-align: center;
    border-radius: 20px;
    padding: 2.5%;
    margin-left: 2%;
    border: solid white;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.4);
    width: 50%;
}

.labs a {
    font-size: 1.8em;
    color: black;
    font-weight: bold;
    transition: .6s;
    display: inline-block;
}

.labs a:hover {
    font-weight: lighter;
    transform: scale(1.3);
}

.labs h3 {
    font-size: 1.4em;
}

.labs p {
    color: gray;
    font-style: italic;
}

.introvecka p {
    text-align: center;
    font-size: 1.6em;
    color: white;
    font-style: italic;
    opacity: 0.7;
    margin-left: -6%;
}

footer {
    font-size: 2.5em;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
}

.badge {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fefcbf;
    color: #975a16;
}

.badge.done {
    background-color: #c6f6d5;
    color: #276749;
}