form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

form #contact {
    display: flex;
    flex-direction: column;
}

input:focus,
select:focus,
textarea:focus {
  outline: 3px solid rgb(0, 255, 21);
  outline-offset: 1px;
}

input:required,
select:required {
    border-left: solid 3px red;
}

input:optional,
select:optional {
    border-left: 3px solid lightgray;
}